<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Options: "Trials", "HeaveHo", "DrunkenWrestlers", "Calculator", "RichardBurnsRally" -->
    <add key="selectedGame" value="RichardBurnsRally" />
    <add key="trackJsonLocation" value="H:\VS2017Projects\Botti\Botti1\Botti\Track runs\" />
  </appSettings>
</configuration>