<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TasGamesSection" type="TasTool.ConfigElements.TasGamesSection, TasTool"/>
  </configSections>
  
  <appSettings>
    <add key="trackJsonLocation" value="H:\VS2017Projects\Botti\Botti1\Botti\Track runs\" />
  </appSettings>


  <TasGamesSection>
    <TasGameCollection>
      <!-- Add new games here -->
      <TasGame name="Trials" lpClassName="MT_APPLICATION" windowCaption="Trials 2 - Second Edition"/>
      <TasGame name="HeaveHo" lpClassName="UnityWndClass" windowCaption="HeaveHo" />
      <TasGame name="DrunkenWrestlers" lpClassName="UnityWndClass" windowCaption="Drunken Wrestlers 2" />
    </TasGameCollection>
  </TasGamesSection>
</configuration>